.todo-list {
    max-width: 480px;
    width: 100%;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form-last-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.modal {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}
.modalTitle {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}